<a href="https://colab.research.google.com/github/Avonna/ITMO/blob/master/Week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В этом блокноте мы научимся производить нормировку данных и строить целевую функцию, исопльзуя [данные](https://studio.openedu.ru/assets/courseware/v1/d08d2a6e36b1cba04451137ce31ed8e1/asset-v1:ITMOUniversity+DATANTECH2035+fall_2021+type@asset+block/task4_926997.csv)

Для начала подключаем библиотеку pandas и загружаем интересующий нас файл при помощи метода `read_csv(file_name, delimeter, index_col, decimal, usecols, header, ...)`. Подробное описание можно найти по [ссылке](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('/content/task4_496273.csv', 
                       delimiter=',', 
                       decimal='.', index_col = 'ID')

Посмотрим на наши данные

In [12]:
data

     DISTANCE  STOP_COUNT   COST
ID
1          17           1  18.79
2          24           5  15.54
3           5           3  12.43
4          11           8  13.07
5          22           8  29.50
..        ...         ...    ...
196         9          11  25.81
197        10          12  26.89
198        21          10  14.43
199        16           7  18.77
200         6           5  19.46

[200 rows x 3 columns]

Теперь выполним экспоненциальную нормировку:
$$
\widetilde x_i = 1 - e^{1 - \frac{x_i}{x_{min}}}
$$

Подключим библиотеку для вычисления экспоненты

In [13]:
import numpy as np

Проведем экспоненциальную нормировку и выведем данные

In [14]:
data = 1 - np.exp(1 - data/data.min())
data

     DISTANCE  STOP_COUNT      COST
ID
1    0.990596    0.000000  0.578564
2    0.999088    0.981684  0.418222
3    0.486583    0.864665  0.207953
4    0.930517    0.999088  0.256679
5    0.998224    0.999088  0.854356
..        ...         ...       ...
196  0.864665    0.999955  0.789972
197  0.903028    0.999983  0.811312
198  0.997521    0.999877  0.350497
199  0.986876    0.997521  0.577727
200  0.632121    0.981684  0.605665

[200 rows x 3 columns]

Заведем дополнительную колонку для вычисления значений целевой функции:

In [15]:
data['SUM'] = 0

Вычислим значение целевой функции и отсортируем результат:

In [16]:
data['SUM'] = data['DISTANCE'] + data['STOP_COUNT'] + data['COST']
data.sort_values(by = ['SUM'])

     DISTANCE  STOP_COUNT      COST       SUM
ID
43   0.736403    0.000000  0.000000  0.736403
39   0.811124    0.000000  0.023528  0.834653
41   0.000000    0.999088  0.028360  1.027448
67   0.999532    0.000000  0.304480  1.304012
111  0.736403    0.000000  0.675991  1.412394
..        ...         ...       ...       ...
93   0.999532    0.999665  0.845729  2.844926
133  0.993262    0.999983  0.855650  2.848896
162  0.999347    0.999877  0.850846  2.850069
5    0.998224    0.999088  0.854356  2.851668
92   0.998727    0.999877  0.857641  2.856245

[200 rows x 4 columns]