<a href="https://colab.research.google.com/github/Avonna/ITMO/blob/master/%D0%98%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Набор данных pulsar_stars  содержит сведения о звездах, полученные в ходе исследовании вселенной (High Time Resolution Universe Survey) с целью определения одного из типа нейтронных звезд — пульсаров. Всего 17898 наблюдений, среди них 1639 — пульсары. 

По каждому наблюдению доступно 8 непрерывных предикторов: среднее значение интегрального профиля; стандартное отклонение интегрального профиля; избыточный эксцесс интегрального профиля; асимметрия интегрального профиля; среднее значение кривой DM-SNR; стандартное отклонение кривой DM-SNR; избыточный эксцесс кривой DM-SNR; асимметрия кривой DM-SNR и бинарный отклик. 

Итак, столбец TARGET (TG) является откликом, все остальные поля — предикторами.

In [2]:
df = pd.read_csv("/content/asset-v1_ITMOUniversity+DATANFST2035+cifru_2035+type@asset+block@pulsar_stars_new.csv")
df

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

1. Получите выборку из набора данных  на основании следующих критериев:

Все строки, где  0 и  [96.921875, 97.4140625]
И все строки, где  1 и  [41.8828125, 47.4140625]
Укажите число строк в полученной выборке:

In [4]:
df1 = df[((df.TG == 0) & (df.MIP >= 96.921875) & (df.MIP <= 97.4140625)) | ((df.TG == 1) & (df.MIP >= 41.8828125) & (df.MIP <= 47.4140625))]
df1

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
98,97.140625,47.770894,0.625218,0.740796,4.193144,26.465261,6.927046,49.628527,0
145,44.867188,45.693334,2.888739,8.810673,176.119565,59.737720,-1.785377,2.940913,1
346,97.234375,46.536357,0.558616,0.384429,2.010033,13.634376,10.022346,132.125623,0
358,42.578125,46.638337,2.841558,7.832819,12.971572,38.498849,3.799728,14.990834,1
445,97.171875,45.656172,0.721308,0.482644,1.557692,12.590775,11.434676,169.923103,0
...,...,...,...,...,...,...,...,...,...
17186,97.148438,37.160145,0.457632,1.767783,2.464883,17.646414,9.645039,104.454324,0
17243,97.101562,46.205864,0.486238,0.375747,0.418060,8.618880,25.031765,682.519179,0
17359,97.218750,43.081307,0.473589,0.725725,1.484114,14.872948,12.610224,175.176577,0
17539,97.242188,53.488572,0.474394,0.124107,2.417224,18.369826,8.632126,82.292908,0
17748,97.312500,41.308434,0.484946,1.121388,2.154682,17.795625,10.721212,126.396478,0

Определите выборочное среднее для столбца :
Ответ округлите до трех знаков после десятичного разделителя.

In [6]:
round(df1.MIP.mean(),3)

70.795

In [ ]:
[41.8828125, 47.4140625]